*{
    box-sizing: border-box;
}
html {
    width: auto;
    height: auto;
}
body {
    margin-left: auto;
	margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
header {
    height: 150px;
    width: 100%;
    background: #ff6f00;
   
}
.container_header{
    height: 100%;
    width: 90%;
    padding: 1% 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_header div{
    height: 75px;
    width: 15%;
    background-color: #cc5900;
}


.container_green {
    display: flex;
    position: relative;
}
.container_green::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 12%;
    width: 100%;
    opacity: .02;
    top: 58%;
}
.green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 30%;
    background: #54b94f;
    padding: 2% 0;
}
.green div {
    background-color: black;
    height: 220px;
    width: 50%;
    opacity: .26;
    margin: 3%;
}

.violet {
    width: 70%;
    height: 900px;
    background: #2d2958;
}
.container_violet {
    width: 80%;
    height: 85%;
    padding: 3% 0;
    margin: 0 auto;
}   
.contant {
    height: 25%;
    position: relative;
}
.box {
    margin: 0 auto;
    background-color: white;
    opacity: .30;
    height: 150px;
    width: 150px;
}

.rectangle_five {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #473cc6;
    opacity: .3;
    height: 150px;
    width: 300px;
    margin-top: 2%;
}
.contant_one {
    background-color: #534e92;
    opacity: .3;
    height: 180px;
    width: 100%;
    margin: 2% auto;
    display: flex;
    align-items: center;
}
.rectangle_six {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle1 {
    background-color: #342e79;
    width: 15%;
    height: 85%;
}
.rectangle2 {
    background-color: #665be6;
    width: 15%;
    height: 85%;
}
.rectangle3 {
    background-color: #342e79;
    width: 15%;
    height: 85%;
}
.rectangle4 {
    background-color: #665be6;
    width: 15%;
    height: 85%;
}
.rectangle5 {
    background-color: #342e79;
    width: 15%;
    height: 85%;
}
.contant_two {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.rectangle_seven {
    background-color: #4941a5;
    opacity: .3;
    height: 400px;
    width: 300px;
}
.rseven{
    width: 80%;
    height: 30%;
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: -5%;
}
.rseven1{
    background-color: #775ee3;
    width: 100%;
    height: 50%;
}
.cir_rsev{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.circle_box1{
    width: 40%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.rcircle1,
.rcircle2,
.rcircle3{
    background-color: #775ee3;
    border-radius: 50%;
    height: 25%;
    width: 65%;
}
.circle_box2{
    width: 70%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rseven2,
.rseven3,
.rseven4{
    background-color: #8e85f0;
    height: 25%;
    width: 97%;
    align-items: flex-end;
}
.rectangle_eight {
    background-color: #4941a5;
    opacity: .3;
    height: 400px;
    width: 710px;
    display: flex;
    flex-wrap:wrap;
}
.cd4{
    height: 40%;
    width: 40%;
    background-color: #807bb8;
    margin: 0 auto;
    margin-top: 9%;
}
.conant_box1{
    background-color: #665be6;
    height: 50%;
    width: 100%;
}
.cb1{
    height: 100%;
    width: 100%;
    border: 40px solid #8e85f0;
}
.cd2{
    background-color: #807bb8;
    height: 50%;
    width: 50%;
}
.cd3{
    background-color: #231f50;
    height: 50%;
    width: 50%; 
}
.turquoise {
    display: flex;
    height: 400px;
    width: 100%;
    background: #1a647d;
}
.turquoise1, 
.turquoise2, 
.turquoise3, 
.turquoise4{
    background-color: #206777;
    margin: 0 auto;
    height: 140px;
    width: 80%;
    margin-top: 45%;
}

.box1 {
    height: 400px;
    width: 25%;
    background: #42a7ca;
    position: relative;
}
.box2 {
    height: 400px;
    width: 25%;
    background: #3c7f96;
    position: relative;
}
.box3 {
    height: 400px;
    width: 25%;
    background: #1a647d;
    position: relative;
}
.box4 {
    height: 400px;
    width: 25%;
    background: #093342;
    position: relative;
}
.box1::after,
.box2::after,
.box3::after,
.box4::after{
    content: '';
    position: absolute;
    background-color: #091e23;
    height: 20%;
    width: 35%;
    top: 10%;
    margin: 0 65%;
}
.blue {
    display: flex;
    height: 400px;
    width: 100%;
    background: #42a7ca;
}
.blue1,
.blue3{
    background-color: #206777;
    margin: 0 auto;
    height: 140px;
    width: 80%;
    margin-top: 45%;
}
.blue2{
    background-color: #206777;
    margin: 0 auto;
    height: 140px;
    width: 80%;
    margin-top: 22%;
    position: relative;
}
.box5 {
    height: 400px;
    width: 25%;
    background: #243f48;
    position: relative;
}
.box6 {
    height: 400px;
    width: 50%;
    background: #2c5e6f;
    position: relative;
}
.box7 {
    height: 400px;
    width: 25%;
    background: #0c2b35;
    position: relative;
}
.box5::after,
.box7::after{
    content: '';
    position: absolute;
    background-color: #091e23;
    height: 20%;
    width: 35%;
    top: 10%;
    margin: 0 65%;
}
.box6::after{
    content: '';
    position: absolute;
    background-color: #091e23;
    height: 20%;
    width: 20%;
    top: 10%;
    margin: 0 80%;
}
.dark_blue {
    display: flex;
    height: 400px;
    width: 100%;
    background: #093342;
}
.dark_blue1,
.dark_blue2,
.dark_blue3,
.dark_blue4{
    background-color: #206777;
    margin: 0 auto;
    height: 140px;
    width: 80%;
    margin-top: 45%;
}
.box8 {
    height: 400px;
    width: 25%;
    background: #548392;
    position: relative;
}
.box9  {
    height: 400px;
    width: 25%;
    background: #164f63;
    position: relative;
}
.box10  {
    height: 400px;
    width: 25%;
    background: #232f33;
    position: relative;
}
.box11  {
    height: 400px;
    width: 25%;
    background: #3a7f96;
    position: relative;
}
.box8::after,
.box9::after,
.box10::after,
.box11::after{
    content: '';
    position: absolute;
    background-color: #091e23;
    height: 20%;
    width: 35%;
    top: 10%;
    margin: 0 65%;
}
.red {
    height: 1000px;
    width: 100%;
    background: #792626;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_red{
    background-color: #a73a3a;
    height: 60%;
    width: 60%;
    display: flex;
    flex-wrap:wrap;
}
.red_box1{
    background-color: #b04d4d;
    height: 50%;
    width: 50%;
    position: relative;
}
.red_box2{
    background-color: #b96161;
    height: 50%;
    width: 50%;
    position: relative;
}
.red_box3{
    background-color: #c17575;
    height: 50%;
    width: 50%;
    position: relative;
}
.red_box4{
    background-color: #ca8989;
    height: 50%;
    width: 50%;
    position: relative;
}
.cred1,
.cred2,
.cred3,
.cred4{
    background-color: #a73a3a;
    margin: 0 auto;
    height: 50%;
    width: 80%;
    margin-top: 8%;
}
.red_box1::after,
.red_box2::after,
.red_box3::after,
.red_box4::after{
    content: '';
    position: absolute;
    background-color: #902929;
    height: 17%;
    width: 20%;
    bottom: 5%;
    right: 10%;
}
.dark_violet {
    height: 1500px;
    width: 100%;
    background: #23143c;
    
}
.dark_container{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.dark_violet1,
.dark_violet2,
.dark_violet3,
.dark_violet4{
    background-color: #190e2a;
    height: 28%;
    width: 22%;
    margin-top: 10%;
    position: relative;
}
.dv1,
.dv2,
.dv3,
.dv4{
    background-color: #352352;
    height: 50%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 78%;
    position: absolute;
    -webkit-border-radius: 50%;
    border: #523780 10px solid;
}
.p1,
.p2,
.p3,
.p4{
    position: absolute;
    background-color: #523780;
    height: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -25%);
    top: 50%;
}
.dark_box1,
.dark_box2,
.dark_box3,
.dark_box4{
    background-color: #523780;
    height: 4%;
    width: 100%;
    margin-top: 96%;
}
.dviolet{
    background-color: #523780;
    height: 45%;
    width: 80%;
    margin: -31% auto;
}
.dvl1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dvl2,
.dvl3,
.dvl4,
.dvl5,
.dvl6,
.dvl7 {
    background-color: #23143c;
    height: 70%;
    width: 78%;
    margin: 0 auto;
    margin-top: 10%;
}

footer {
    height: 1100px;
    width: 100%;
    background: #2f2f2f;
}
.container_footer{
    width: 85%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6%;
}   
.line1_footer{
    background: white;
    opacity: .1;
    height: 1%;
    width: 100%;
}
.line2_footer{
    background: white;
    opacity: .6;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer_box1{
    margin: 0 auto;
    background-color: #666565;
    height: 50%;
    width: 60%;
}
.fot {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.cf {
    height: 75%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 5% 0 8%;
}
.cf1,
.cf2,
.cf3,
.cf4,
.cf5,
.cf6,
.cf7,
.cf8,
.cf9,
.cf10,
.cf11,
.cf12,
.cf13,
.cf14 {
    background-color: #484548;
    height: 15%;
    width: 30%;
}
.lf{
    height: 75%;
    width: 35%;
    margin: 5% 0 8%;
}
.lf div:not(:first-child) {
    margin-top: 8%;
}
 .lf1{
    background-color: #7d7d7d;
    border-radius: 50%;
    height: 185px;
    width: 185px;
    margin: 0 auto;
 }
 .lf2,
 .lf3,
 .lf4 {
    background-color: #7d7d7d;
    margin: 0 auto;
    height: 100px;
    width: 100px;
 }